<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoComms - Change Password</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<header>
    {{ template "navbar" }}
</header>

<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3 class="title-hg-light">Change Password</h3>
                <form id="change-password">
                    <div class="form-group">
                        <label class="title-hg-dark" for="current-password">Current Password</label>
                        <input type="password" class="form-control input-color" id="current-password"
                            name="current-password" placeholder="Insert your current password">
                    </div>

                    <div class="form-group">
                        <label class="title-hg-dark" for="new-password">New Password</label>
                        <input type="password" class="form-control input-color" id="new-password" name="new-password"
                            placeholder="Insert your new password">
                    </div>

                    <div class="form-group">
                        <label class="title-hg-dark" for="confirm-password">Confirm New Password</label>
                        <input type="password" class="form-control input-color" id="confirm-password"
                            name="confirm-password" placeholder="Insert your new password again">
                    </div>

                    <button class="btn btn-color">Send change</button>
                </form>
            </div>
        </div>
    </div>


    {{ template "scripts" }}

    <script src="/static/js/user.js"></script>
</body>
{{ template "footer" }}

</html>