<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoComms - Home</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<header>
    {{ template "navbar" }}
</header>

<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <!-- Post Creation -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h3 class="title-hg-light">New post</h3>
                <fieldset>
                    <form action="" id="new-post">
                        <div class="form-group">
                            <label class="title-hg-dark" for="title">Title</label>
                            <input type="text" class="form-control input-color" id="title" name="title"
                                required="required" placeholder="Post title">
                        </div>
                        <div class="form-group">
                            <label class="title-hg-dark" for="content">Content</label>
                            <textarea class="form-control input-color" id="content" name="content" required="required"
                                placeholder="Write your post here"></textarea>
                        </div>
                        <button class="btn btn-color" type="submit">Post</button>
                    </form>
                </fieldset>

            </div>
            <!-- Post feed -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                {{ range . }}

                <div class="jumbotron">
                    <h1 class="display-4">{{.Title}}</h1>
                    <p class="lead">{{.Content}}</p>
                    <hr class="my-4">
                    <p>{{.AuthorUsername}} on {{.CreatedOn}}</p>
                    <p class="lead">
                        <a class="btn btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>

                {{ end }}
            </div>
        </div>
    </div>

</body>
{{ template "footer" }}
{{ template "scripts" }}

</html>