<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoComms - Login</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page-form.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-login">
        <div>
            <form id="login" class="form-std">
                <span class="block-title-login">GoComms</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Insert your email" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Insert your password"
                        required="required">
                </div>
                <a href="#">Click here to sign up!</a>
                <button type="submit" class="btn-std">Login</button>
            </form>
        </div>
    </div>
</body>

</html>