<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoComms - Sign Up</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page-form.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-login">
        <div>
            <form id="signup-form" class="form-std">
                <span class="block-title-login">Create your account</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Name" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Email" required="required">
                </div>
                <div>
                    <input type="text" name="username" id="username" placeholder="Username" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password" required="required">
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password"
                        required="required">
                </div>

                <button type="submit" class="btn-std">Sign Up</button>
                <a href="/login">Click here to login</a>
            </form>
        </div>
    </div>

    {{ template "scripts" }}
    <script src="/static/js/signup.js"></script>
</body>
{{ template "footer" }}

</html>