* { 
    --color-background: #1a1a1d;
    --color-background-dark: #101017;
    --color-background-light: #4e4e50;
    --color-text-primary: #E9e9df;
    --color-text-secondary: #8f8fa1;
    --color-text-highlight-dark: #6f2232;
    --color-text-highlight-light: #950740;
    --color-text-highlight-lighter: #AC5E6F;

    font-family: 'Fira Sans', sans-serif;
}


body {
    background-color: var(--color-background);
}

header {
    background-color: var(--color-background-dark);
    
}

/* Some Bootstrap overriding -> Must be specific */

header a.logo-color {
    color: var(--color-text-highlight-light)!important;
    font-weight: 700!important;
}

header a.header-link-color {
    color:  var(--color-text-highlight-dark)!important;
}

div h3.title-hg-light {
    color: var(--color-text-highlight-light);
}

form label.title-hg-dark {
    color: var(--color-text-highlight-dark);
}

form input.input-color {
    color: var(--color-text-primary)!important;
    background-color: var(--color-background-light)!important;
    outline: none!important;
    border: none!important;
}

form input.input-color:focus {
    border-color: var(--color-text-highlight-lighter)!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(172, 94, 111, 0.25)!important;
}

form textarea.input-color {
    color: var(--color-text-primary)!important;
    background-color: var(--color-background-light)!important;
    outline: none!important;
    border: none!important;
}

form textarea.input-color:focus {
    border-color: var(--color-text-highlight-lighter)!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(172, 94, 111, 0.25)!important;
}

form button.btn-color {
    color: var(--color-text-secondary)!important;
    background-color: var(--color-background-light)!important;
}

form button.btn-color:hover {
    cursor: pointer;
    color: var(--color-text-primary);
}

form button.btn-color:focus {
    border-color: var(--color-text-highlight-lighter)!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(172, 94, 111, 0.25)!important;
}

div.jumbotron {
    background-color: var(--color-background-light)!important;
    color: var(--color-text-primary)!important;
}

div h1.display-4 {
    color: var(--color-text-secondary)!important;
}

div p.icon-right {
    text-align: right!important;
}

div a.link-color {
    color:  var(--color-text-secondary)!important;
    text-decoration: none;
}

div a:hover {
    color: var(--color-text-highlight-lighter)!important;
}

div i.like-post:hover {
    cursor: pointer;
}

.like-color {
    color: var(--color-text-highlight-lighter)!important;
}

div i.delete-post {
    color:  var(--color-text-secondary)!important;
    text-decoration: none;
}

div i.delete-post:hover {
    color: var(--color-text-highlight-lighter)!important;
    cursor: pointer;
}

div.card {
    color: var(--color-text-secondary)!important;
    background-color: var(--color-background-light)!important;
}

div a.link-color-users {
    color:  var(--color-text-primary)!important;
    text-decoration: none;
}

div a:hover {
    color: var(--color-text-highlight-lighter)!important;
}


button.btn-profile {
    color: var(--color-text-primary)!important;
    background-color: var(--color-text-highlight-dark)!important;
}

button.btn-profile:hover {
    cursor: pointer;
    color: var(--color-text-secondary);
}

button.btn-profile:focus {
    border-color: var(--color-text-highlight-lighter)!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(172, 94, 111, 0.25)!important;
}
