* { 
    --color-background: #1a1a1d;
    --color-background-light: #4e4e50;
    --color-text-primary: #E9e9df;
    --color-text-secondary: #8f8fa1;
    --color-text-highlight-dark: #6f2232;
    --color-text-highlight-light: #950740;
    --color-text-highlight-lighter: #AC5E6F;

    font-family: 'Fira Sans', sans-serif;
}


body {
    background-color: var(--color-background);
}
