<!-- Buttons -->
{{ define "likes" }}
<i class="far fa-thumbs-up like-post"></i> <span>{{.Likes}}</span>
{{end}}

{{ define "edit" }}
<a href="/edit" class="link-color">
    <i class="far fa-edit"></i> Edit
</a>
{{ end }}


{{ define "delete" }}
<a href="/delete" class="link-color">
    <i class="fas fa-trash-alt"></i> Delete
</a>
{{ end }}


<!-- Post templates -->

{{ define "postHeader" }}
<h1 class="display-4">{{.Title}}</h1>
<p class="lead">{{.Content}}</p>
<hr class="my-4">
{{ end}}


{{ define "selfPost"}}
<div class="jumbotron" data-post-id="{{ .ID }}">
    {{ template "postHeader" .}}
    <p class="icon-right">
        {{.AuthorUsername}} on {{.CreatedOn.Format "January 2, 2006 at 15h04"}} &nbsp;&nbsp;//&nbsp;&nbsp;
        {{ template "likes" . }}&nbsp;&nbsp;
        {{ template "edit" . }}&nbsp;&nbsp;
        {{ template "delete" . }}&nbsp;&nbsp;
    </p>

</div>
{{ end }}


{{ define "othersPost"}}
<div class="jumbotron" data-post-id="{{ .ID }}">
    {{template "postHeader" .}}
    <p class="icon-right">
        {{.AuthorUsername}} on {{.CreatedOn.Format "January 2, 2006 at 15h04"}} &nbsp;&nbsp;//&nbsp;&nbsp;
        {{ template "likes" . }}
    </p>
</div>
{{ end }}